# python
__pycache__/
*.py[cod]
.env
venv/

# mac
.DS_Store

# tox
.tox/

# database
server/*.sqlite3
server/*.sqlite3-journal

# media
server/media/

# user data
data/

# postgres data
postgres-data/

# vuejs
client/node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/test/unit/coverage/
server/webpack-stats.json