@charset "utf-8";

@import '~bulma/sass/utilities/initial-variables';

// Custom colors
$dark-blue: #35495e;
$green: #49AE8B;
$dark-green: #178B63;
$gray: #696969;

// Override defaults
$primary: $dark-blue;
$info: $green;
$danger: $gray;

@import '~bulma/bulma'
