@charset "utf-8";

@import '~bulma/sass/utilities/initial-variables';

// Brand colors
$purple: #201130;
$green: #49AE8B;
$dark-green: #178B63;


// Override defaults
$primary: $dark-green;
$info: $green;
$danger: $purple;

@import '~bulma/bulma'